.App {
  text-align: center;
}

.Screen {
  border: 1px solid green;
  width: 100%;
  height: 100%;
}

.Note {
  display: flex;
  height: 200px;
  width: 200px;
  background-color: yellow;
  border: 1px solid red;
  position: absolute;
}

.NoteText {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: center;
  font: inherit;
  color: inherit;
  border: 1px solid blue;
  overflow-wrap: break-word;
  background-color: inherit;
  border: none;
  outline: none;
  resize: none;
}
